* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.responsive-img {
  display: inline-block;
  max-width: 100%;
}
/* .translucent-img {
  opacity: 0.2;
}
.visible-image {
  opacity: 1;
} */
.slider-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.image-container {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* this might eat the part of image 
  if the images don't respect the aspect ratio */
  height: 50%;
  width: 50%;
  /* background-color: red; */
  transition: all 0.3s ease-in-out;
}
.btn-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.prev-btn,
.next-btn {
  padding: 10px 12px;
  font-size: 20px;
  font-weight: 700;
  margin: 0 20px;
  border-radius: 8px;
  background: lightblue;
  transition: all 0.3s ease-in-out;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: blue;
  cursor: pointer;
  color: #fff;
}
/* animation */
/* inspired from w3school*/

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
